@media(max-width: 620px) {
    .cabecalho {
        padding: 30x;

    }
    .personagens-slider{
        padding: 0 15px;
        gap: 10px;
    }

    .brn-seta{
        width: 20px;
        height: 20px;
        padding: 20px;

    }
    
    .lista-personagens{
        height: 480px;
    }
}